{{> head}}  
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Imagen </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque hic veniam dignissimos inventore omnis? Vero quaerat accusantium, fugit libero deserunt veniam unde debitis voluptate id, nobis blanditiis, architecto officia perspiciatis!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/Captura.PNG" class="img-thumbnail">
    </div>
</div>
  
{{> footer }}
